# Auto detect text files and ensure LF line endings
* text=auto eol=lf

# Source files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Config files
*.toml text eol=lf
*.lock text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Pushkin source files
*.push text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary